language: c
compiler:
  - gcc
before_install:
  - pip install --user cpp-coveralls
script:
  - ./configure --enable-gcov && make check
after_success:
  - coveralls --exclude lib --exclude tests --gcov-options '\-lp'